
$dusk-blue: #2d359c;
$navy-blue: #23267e;
$violet-blue: #5d64d4;
$light-blue: #f4f4fa;
$intense-red: #e52c41;
$thick-red: #d0182b;
$dawn-red: #f18894;
$pinkish: #de6572;
$very-light-pink: #ffecec;
$very-light-pink-two: #fff6f6;
$shade-white: rgba(255,255,255,0.5);
$snow-white: #ffffff;
$bare-white: rgba(255,255,255,0.1);
$white-two: #e7e7e7;
$white: #f6f6f6;
$gray: #aaaaaa;
$warm-grey: #8b8b8b;
$pale-grey: #e9e9f5;